Django
python-dotenv
str2bool
djangorestframework
markdown
django-filter
factory_boy
django-tenants
django-environ
django-autoslug
django-phonenumber-field
phonenumbers
Pillow
django-countries==7.2.1
djoser
djangorestframework-simplejwt
PyJWT

# Database
psycopg2-binary
dj-database-url

#Linting 
flake8
black
isort